<div class="product-section">
    <div class="product-container d-flex flex-column align-items-center">
        <div class="d-flex flex-column align-items-center">
            <div class="product-title">Medical & Wellness Products</div>
            <div class="product-subtitle">Free Shipping on Orders Over $59 or with Your First Purchase</div>
        </div>
        <div class="product-tablist-block d-flex position-relative">
            <div class="product-tablist-item active">Popular Items</div>
            <div class="product-tablist-item">Top Rated</div>
            <div class="product-tablist-item">Trending Items</div>
            <span class="underline"></span>
        </div>
    </div>
</div>