<footer class="footer">
    <div class="container-fluid footer-contaier">
        <div class="row justify-content-between mx-0">
            <!-- Company Info -->
            <div class="col-lg-3 col-md-6 px-0">
                <div class="footer-brand d-flex align-items-center">
                    <img src="assets/images/logo.svg" alt="Medmart Logo" class="footer-logo" />
                    <div class="footer-logo-title">medmart<span class="text-primary">.</span></div>
                </div>
                <div class="footer-desc">
                    Medmart is an online medical service and medicine wooCommerce Template for your ultimate online
                    store and medical service.
                </div>
                <ul class="list-unstyled footer-contact">
                    <li class="d-flex align-items-center">
                        <img src="assets/images/footer/address.svg" alt="" class="footer-contact-icon">
                        <div class="footer-contact-title">16 Collins Street West Victoria, London</div>
                    </li>
                    <li class="d-flex align-items-center">
                        <img src="assets/images/footer/mail.svg" alt="" class="footer-contact-icon">
                        <div class="footer-contact-title">yourmail@gmail.com</div>
                    </li>
                    <li class="d-flex align-items-center">
                        <img src="assets/images/footer/call.svg" alt="" class="footer-contact-icon">
                        <div class="footer-contact-title">+88022 533 655</div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6 px-0">
                <div class="row justify-content-between mx-0">
                    <!-- Products -->
                    <div class="col-lg-6 col-md-6 px-0">
                        <div class="footer-title">Products</div>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#" class="footer-links-title">Medicines</a></li>
                            <li><a href="#" class="footer-links-title">Vitamins & Supplements</a></li>
                            <li><a href="#" class="footer-links-title">Accessories</a></li>
                            <li><a href="#" class="footer-links-title">Medical Equipment</a></li>
                            <li><a href="#" class="footer-links-title">All Products</a></li>
                            <li><a href="#" class="footer-links-title">Doctor Equipment</a></li>
                            <li><a href="#" class="footer-links-title">Offer Sale</a></li>
                        </ul>
                    </div>

                    <!-- Quick Links -->
                    <div class="col-lg-4 col-md-6 px-0">
                        <div class="footer-title">Quick Link</div>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#" class="footer-links-title">Support</a></li>
                            <li><a href="#" class="footer-links-title">Refund Policy</a></li>
                            <li><a href="#" class="footer-links-title">Shipping & Returns</a></li>
                            <li><a href="#" class="footer-links-title">Terms & Condition</a></li>
                            <li><a href="#" class="footer-links-title">Help Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Payments -->
            <div class="col-lg-3 col-md-6 px-0">
                <div class="footer-title">Payments</div>
                <div class="payment-title">Secure Payments</div>
                <div class="payment-option-link d-flex align-items-center">
                    <img src="assets/images/footer/visa.svg" alt="Visa" class="payment-icon" />
                    <img src="assets/images/footer/master-card.svg" alt="MasterCard" class="payment-icon" />
                    <img src="assets/images/footer/amex.svg" alt="Amex" class="payment-icon" />
                    <img src="assets/images/footer/card.svg" alt="Card" class="payment-icon" />
                    <img src="assets/images/footer/paypal.svg" alt="PayPal" class="paypal-icon" />
                </div>
                <div class="footer-social d-flex align-items-center">
                    <a href="#" class="footer-social-link d-flex justify-content-center align-items-center">
                        <img src="assets/images/footer/facebook.svg" alt="facebook" class="social-image">
                    </a>
                    <a href="#" class="footer-social-link d-flex justify-content-center align-items-center">
                        <img src="assets/images/footer/twitter.svg" alt="twitter" class="social-image">
                    </a>
                    <a href="#" class="footer-social-link d-flex justify-content-center align-items-center">
                        <img src="assets/images/footer/instagram.svg" alt="" class="social-image">
                    </a>
                    <a href="#" class="footer-social-link d-flex justify-content-center align-items-center">
                        <img src="assets/images/footer/pinterest.svg" alt="" class="social-image">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom bar -->
    <div class="footer-bottom d-flex align-items-center">
        <div class="footer-bottom-title d-flex align-items-center"><span>©Copyright 2025</span><span>Medmart. All Rights Reserved.</span></div>
    </div>
</footer>