<footer class="footer">
  <div class="container-fluid footer-contaier">
    <div class="footer-row d-flex">
      <div class="company-info-block">
        <div class="footer-brand d-flex align-items-center">
          <img [src]="footerData.companyInfo.logo" alt="Medmart Logo" class="footer-logo" />
          <div class="footer-logo-title">{{ footerData.companyInfo.brand }}</div>
        </div>
        <div class="footer-desc">{{ footerData.companyInfo.description }}</div>
        <ul class="list-unstyled footer-contact">
          @for (contact of footerData.companyInfo.contacts; track $index) {
          <li class="d-flex align-items-center">
            <img [src]="contact.icon" alt="" class="footer-contact-icon" />
            <div class="footer-contact-title">{{ contact.title }}</div>
          </li>
          }
        </ul>
      </div>

      <div class="product-block">
        <div class="footer-title">Products</div>
        <ul class="list-unstyled footer-links">
          @for (product of footerData.products; track $index) {
          <li>
            <a [href]="product.link" class="footer-links-title">{{ product.label }}</a>
          </li>
          }
        </ul>
      </div>

      <div class="link-block">
        <div class="footer-title">Quick Link</div>
        <ul class="list-unstyled footer-links">
          @for (link of footerData.quickLinks; track $index) {
          <li>
            <a [href]="link.link" class="footer-links-title">{{ link.label }}</a>
          </li>
          }
        </ul>
      </div>

      <div class="payment-block">
        <div class="footer-title">Payments</div>
        <div class="payment-title">{{ footerData.payments.title }}</div>
        <div class="payment-option-link d-flex align-items-center">
          @for (pay of footerData.payments.icons; track $index) {
          <img
            [src]="pay.src"
            [alt]="pay.alt"
            [class]="pay.extraClass ? pay.extraClass : 'payment-icon'"
          />
          }
        </div>

        <div class="footer-social d-flex align-items-center">
          @for (social of footerData.socialLinks; track $index) {
          <a
            [href]="social.link"
            class="footer-social-link d-flex justify-content-center align-items-center"
          >
            <img [src]="social.src" [alt]="social.alt" class="social-image" />
          </a>
          }
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom d-flex align-items-center">
    <div class="footer-bottom-title d-flex align-items-center">
      {{ footerData.bottomBar.text }}
    </div>
  </div>
</footer>
