@use '../../../font-mixin.scss' as *;

.footer {
    background-color: var(--black-overlay);

    .footer-contaier {
        width: 100%;
        max-width: 1350px;
        padding: 66px 0 60px;
        margin: 0 auto;

        .footer-row {
            column-gap: 130px;

            .company-info-block {
                width: 35%;

                .footer-brand {
                    gap: 8px;

                    .footer-logo {
                        width: 35px;
                        height: 38px;
                    }

                    .footer-logo-title {
                        @include font(25px, 700, 27px, var(--white-light));
                    }
                }

                .footer-desc {
                    @include apply-font(--font-secondary);
                    @include font(16px, 400, 24px, var(--white-light));
                    padding: 26px 0 34px;
                }

                .footer-contact {
                    display: flex;
                    flex-direction: column;
                    gap: 17px;

                    li {
                        gap: 17px;

                        .footer-contact-icon {
                            width: 25px;
                            height: 25px;
                        }

                        .footer-contact-title {
                            @include apply-font(--font-secondary);
                            @include font(16px, 500, 25px, var(--white-light));
                        }
                    }
                }
            }

            .product-block {
                width: 20%;
            }

            .footer-links {
                padding-top: 19px;
                display: flex;
                flex-direction: column;
                gap: 18px;

                .footer-links-title {
                    @include apply-font(--font-secondary);
                    @include font(16px, 400, 24px, var(--white-light));
                    text-decoration: none;
                    transition: 0.4s;

                    &:hover {
                        color: var(--background-color);
                    }
                }
            }

            .link-block {
                width: 15%;
            }

            .footer-title {
                @include apply-font(--font-secondary);
                @include font(20px, 500, 26px, var(--white-light));
            }

            .payment-block {
                width: 30%;

                .payment-title {
                    @include apply-font(--font-secondary);
                    @include font(16px, 400, 24px, var(--white-light));
                    padding-top: 19px;
                }

                .payment-option-link {
                    padding: 18px 0 25px;
                    gap: 5px;

                    .payment-icon {
                        height: 22px;
                    }

                    .paypal-icon {
                        height: 19px;
                    }
                }

                .footer-social {
                    gap: 16px;

                    .footer-social-link {
                        width: 37px;
                        height: 37px;
                        border: 1px solid var(--light-white-border);
                        border-radius: 50%;
                        transition: 0.5s;

                        &:hover {
                            border: 1px solid transparent;
                            background-color: var(--background-color);
                        }

                        .social-image {
                            width: 17px;
                            height: 17px;
                        }
                    }

                }
            }
        }
    }

    .footer-bottom {
        justify-content: center;
        padding: 13px 0;
        background-color: var(--background-color);

        .footer-bottom-title {
            gap: 13px;
            @include apply-font(--font-secondary);
            @include font(16px, 400, 24px, var(--white-light));
        }
    }
}

@media only screen and (max-width:1100px) {
    footer {
        .footer-contaier {
            padding: 40px 56px 40px !important;

            .footer-row {
                flex-wrap: wrap;
                row-gap: 40px;
                column-gap: 130px;

                .company-info-block {
                    width: 45% !important;
                }

                .product-block {
                    width: 35% !important;
                }

                .footer-title {
                    @include font(18px, 500, 18px, var(--white-light) !important);
                }

                .link-block {
                    width: 45% !important;
                }

                .payment-block {
                    width: 35% !important;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    footer {
        .footer-contaier {
            padding: 40px 32px 40px !important;

            .footer-row {
                flex-wrap: wrap;
                row-gap: 40px;
                column-gap: 0px;

                .company-info-block {
                    width: 100% !important;
                }

                .product-block {
                    width: 100% !important;
                }

                .link-block {
                    width: 100% !important;
                }

                .payment-block {
                    width: 100% !important;
                }
            }
        }

        .footer-bottom {

            .footer-bottom-title {
                padding: 0 10px;
                align-items: flex-start !important;
            }

            .footer-bottom-title span:first-child {
                min-width: fit-content;
            }
        }
    }
}