@use '../../../font-mixin.scss' as *;

.navbar {
    padding: 21px 84px;
    border-bottom: 1px solid var(--light-grey-border);

    .navbar-container {
        width: 100%;
        justify-content: space-between;

        .navbar-brand {
            gap: 8px;

            .logo-image {
                width: 35px;
                height: 38px;
            }

            .logo-title {
                @include font(25px, 700, 27px, var(--light-black-border));
            }
        }

        .navbar-toggler {
            padding: 0;
            border: none;
        }

        .navbar-nav {
            padding: 0 40px;
            gap: 42px;

            .nav-link {
                padding: 0;
                @include font(16px, 400, 26px, var(--light-black-border));
                transition: color 0.3s ease;

                &:hover {
                    color: var(--background-color);
                }

                &.active {
                    color: var(--background-color);
                    font-weight: 600;
                }
            }

            .dropdown-menu {
                padding: 6px 0;
                border: none;
                box-shadow: 0px 2px 12px 0px var(--black-shadow);

                .dropdown-item {
                    padding: 10px 28px;
                    border-bottom: 1px solid var(--grey-border);
                }
            
            }
        }

        .navbar-icons {
            gap: 32px;

            a {
                color: #333;
                font-size: 1.2rem;
                position: relative;

                &:hover {
                    color: #0d6efd;
                }
            }

            .cart-badge {
                position: absolute;
                top: -5px;
                right: -10px;
                width: 25px;
                height: 25px;
                background-color: var(--background-color);
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Heebo';
                @include font(11px, 400, 27px, var(--white-light));
                border-radius: 50%;
            }
        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

    }
}

@media only screen and (max-width:1100px) {
    .navbar-nav {
        padding: 20px 0 !important;
        gap: 20px !important;
        width: 100% !important;
    }

    .nav-item {
        flex: 1 !important;
    }

    .navbar {
        padding: 21px 48px;

        .navbar-container {
            flex-wrap: wrap;
        }

        .navbar-icons {
            justify-content: flex-end;
            padding-top: 10px;
            border-top: 1.05px solid var(--light-grey-border);
        }
    }
}

@media only screen and (max-width:767px) {
    .navbar {
        padding: 21px 32px;
    }
}