.quick-link {
    background-image: url(../../../assets/images/quick-links/quick-links-bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    .quicky-list-item {
        flex: 1;
        justify-content: center;
        align-items: center;
        padding: 42px 0 47px;
        gap: 10px;
        color: var(--lightwhite-gray-text);
        border-right: 2px solid var(--white-light);
        border-left: 2px solid var(--white-light);
        cursor: pointer;
        z-index: 11;

        &.active {
            background-color: var(--background-color);
            color: var(--light-gray-text);
        }

        .quicky-list-title {
            font-size: 24px;
            font-weight: 400;
            line-height: 38px;
            color: var(--white-light);
            transition: 0.5s;
        }

        .quicky-list-subtitle {
            font-family: 'Figtree';
            font-size: 18px;
            font-weight: 400;
            line-height: 25px;
            transition: 0.5s;
        }
    }

    .quicky-list-item:hover .quicky-list-title {
        opacity: 0.5;
    }

    .quicky-list-item:hover .quicky-list-subtitle {
        opacity: 0.5;
    }

    .quick-list-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black-overlay);
        opacity: 0.9;
        z-index: 10;
    }
}

@media only screen and (max-width:1100px) {
    .quick-link {
        .quicky-list-item {
            justify-content: flex-start;
            align-items: flex-start;
            padding: 28px 32px;
            gap: 6px;

            .quicky-list-title {
                font-size: 16px;
                line-height: 21px;
            }

            .quicky-list-subtitle {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

}

@media only screen and (max-width:767px) {
    .quick-link {
        flex-direction: column;

        .quicky-list-item {
            width: 100%;
            border-right: 0;
            border-left: 0;
            border-top: 1px solid var(--white-light);
            border-bottom: 1px solid var(--white-light);

            .quicky-list-title {
                font-size: 20px;
            }

            .quicky-list-subtitle {
                font-size: 18px;
            }
        }
    }
}