<div class="quick-link w-100 d-flex position-relative">
    <div class="quicky-list-item d-flex flex-column">
        <div class="quicky-list-title">99% Customer Satisfaction</div>
        <div class="quicky-list-subtitle">Rated highly for quality & reliability</div>
    </div>
    <div class="quicky-list-item d-flex flex-column">
        <div class="quicky-list-title">Next-Day Dispatch</div>
        <div class="quicky-list-subtitle">Quick, dependable shipping across the UK</div>
    </div>
    <div class="quicky-list-item active d-flex flex-column">
        <div class="quicky-list-title">Safe & Certified</div>
        <div class="quicky-list-subtitle">All products meet medical safety standards</div>
    </div>
    <div class="quick-list-overlay"></div>
</div>