<div class="product-grid-block d-flex justify-content-center align-items-center">
    <div class="product-grid-container d-flex">
        <div class="product-grid-left d-flex justify-content-center align-items-center position-relative">
            <img src="assets/images/product-grid/product-grid-one.png" alt="" width="100%"
                class="object-fit-cover product-left-image">
            <div class="product-left-information d-flex flex-column align-items-end">
                <div class="product-information-title">Enjoy 50% OFF</div>
                <div class="product-information-subtitle">Your First Order</div>
                <button class="shop-now-button">SHOP NOW</button>
            </div>
        </div>
        <div class="product-grid-right d-flex flex-column">
            <div class="product-grid-item position-relative d-flex justify-content-end align-items-center">
                <img src="assets/images/product-grid/product-grid-two.png" alt=""
                    class="object-fit-cover stethoscope-image">
                <div class="product-right-information d-flex flex-column justify-content-center align-items-start">
                    <div class="product-information-title">Save 30% on</div>
                    <div class="product-information-subtitle">Digital Electronic<br>Stethoscopes</div>
                    <a href="" class="visit-store-link">VISIT STORE</a>
                </div>
            </div>
            <div class="product-grid-card d-flex">
                <div class="product-card-list position-relative d-flex">
                    <img src="assets/images/product-grid/product-grid-three.png" alt=""
                        class="object-fit-cover thermometer-image">
                    <div class="product-card-information d-flex flex-column align-items-end">
                        <div class="card-information-subtitle text-end">Get Digital<br>Thermometers</div>
                        <a href="" class="visit-store-link">VISIT STORE</a>
                    </div>
                </div>
                <div class="product-card-list medical-supply-card position-relative d-flex">
                    <img src="assets/images/product-grid/product-grid-four.png" alt=""
                        class="object-fit-cover medical-supply-image">
                    <div class="medical-supply-information d-flex flex-column align-items-start">
                        <div class="card-information-subtitle">Essential<br>Medical<br>Supplies</div>
                        <a href="" class="visit-store-link text-light">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>