@use '../../../font-mixin.scss' as *;

.product-list-container {
    width: 100%;
    max-width: 1240px;
    gap: 40px;
    margin: 0 auto;
    padding-bottom: 66px;

    .product-card-list {
        gap: 42px;

        .product-card-row {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 34px;

            .product-card {

                .card-image {
                    width: 100%;
                    height: 380px;
                    object-fit: cover;
                }

                .card-badge {
                    width: fit-content;
                    height: 32px;
                    padding: 0 12px;
                    border-radius: 32px;
                    background-color: var(--background-color);
                    @include apply-font(--font-secondary);
                    @include font(14px, 500, 24px, var(--white-light));
                    text-transform: uppercase;
                    position: absolute;
                    top: 22px;
                    right: 20px;

                    &.sale-badge {
                        background-color: var(--light-red-background);
                    }
                }

                .card-detail-block {
                    gap: 8px;
                    padding: 21px 0;
                    background-color: var(--light-black-border);

                    .card-title {
                        @include font(18px, 400, 17px, var(--white-light));
                        text-align: center;
                        text-transform: capitalize;
                    }

                    .card-subtitle {
                        @include apply-font(--font-secondary);
                        @include font(20px, 500, 30px, var(--background-color));
                    }
                }
            }
        }
    }

    .view-more-button {
        width: fit-content;
        height: 52px;
        padding: 0 42px;
        background-color: var(--background-color);
        border: none;
        border-radius: 5px;
        @include apply-font(--font-secondary);
        @include font(15px, 500, 21px, var(--white-light));
        letter-spacing: 2px;
        text-transform: uppercase;
        margin: 0 auto;
        transition: 0.5s;

        &:hover {
            background-color: var(--background-color-hover);
        }
    }
}

@media only screen and (max-width:1100px) {
    .product-list-container {
        .product-card-list {
            .product-card-row {
                padding: 0 40px;
                grid-template-columns: repeat(3, 1fr);
                gap: 24px;

                .product-card {
                    .card-image {
                        height: 314px;
                        aspect-ratio: 1/1;
                    }

                    .card-detail-block {
                        padding: 17px 31px;

                        .card-title {
                            @include font(16px, 400, normal, var(--white-light));
                        }

                        .card-subtitle {
                            @include font(18px, 500, 25px, var(--background-color));
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .product-list-container {
        gap: 32px;

        .product-card-list {
            .product-card-row {
                padding: 0 35px;
                grid-template-columns: repeat(1, 1fr);
                gap: 24px;

                .product-card {
                    width: 100%;

                    .card-image {
                        width: 100%;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                    }

                    .card-detail-block {

                        .card-title {
                            @include font(18px, 400, normal, var(--white-light));
                        }

                        .card-subtitle {
                            @include font(20px, 500, 25px, var(--background-color));
                        }
                    }
                }
            }
        }

        .view-more-button {
            height: 56px;
            padding: 0 47px;
            border-radius: 5px;
            @include font(16px, 500, 21px, var(--white-light));
        }
    }
}