<div class="product-list-container d-flex flex-column">
  <div class="product-card-list d-flex flex-column">
    <div class="product-card-row">
      @for (product of visibleProducts; track $index) {
      <div class="product-card d-flex flex-column">
        <div class="position-relative">
          <img [src]="product.image" [alt]="product.title" class="card-image" />
          @if (product.badge) {
          <div
            class="card-badge d-flex align-items-center"
            [class]="product.extraClass ? product.extraClass : 'card-badge'"
          >
            {{ product.badge }}
          </div>
          }
        </div>
        <div class="card-detail-block d-flex flex-column align-items-center">
          <div class="card-title">{{ product.title }}</div>
          <div class="card-subtitle">{{ product.price }}</div>
        </div>
      </div>
      }
    </div>
  </div>
  @if (visibleProducts.length < products.length) {
  <button class="view-more-button" (click)="viewMore()">VIEW MORE</button>
  }
</div>
