<div class="hero-section position-relative">
    <div class="hero-container d-flex flex-column justify-content-center align-items-center">
        <div class="hero-title">SINCE 2014</div>
        <div class="position-relative">
            <img src="assets/images/hero-section/store.png" alt="" class="hero-image">
            <img src="assets/images/hero-section/medicines.svg" alt="" class="tablet-image updown">
        </div>
        <div class="hero-footer-button d-flex justify-content-center align-items-center">
            <button class="shop-button">Shop Essentials</button>
            <button class="about-button">About Medmart</button>
        </div>
    </div>
    <img src="assets/images/hero-section/Vaccine.svg" alt="" class="vaccine-image">
    <img src="assets/images/hero-section/mask.svg" alt="" class="mask-image updown">
    <img src="assets/images/hero-section/senitizer-bottel.svg" alt="" class="senitizer-bottel-image">
</div>