<div class="hero-section position-relative">
  <div class="hero-container d-flex flex-column justify-content-center align-items-center">
    <div class="hero-title">{{ heroData.title }}</div>
    <div class="position-relative">
      <img
        [src]="heroData.mainImage.src"
        [alt]="heroData.mainImage.alt"
        [class]="heroData.mainImage.class"
      />

      @for (img of heroData.overlayImages; track img.src) {
      <img [src]="img.src" [alt]="img.alt" [class]="img.class" />
      }
    </div>

    <div class="hero-footer-button d-flex justify-content-center align-items-center">
      @for (btn of heroData.buttons; track btn.label) {
      <button [class]="btn.class">{{ btn.label }}</button>
      }
    </div>
  </div>

  @for (fImg of heroData.floatingImages; track fImg.src) {
  <img [src]="fImg.src" [alt]="fImg.alt" [class]="fImg.class" />
  }
</div>
