<div class="product-section">
  <div class="product-container d-flex flex-column align-items-center">
    <div class="d-flex flex-column align-items-center">
      <div class="product-title">{{ productData.title }}</div>
      <div class="product-subtitle">{{ productData.subtitle }}</div>
    </div>

    <div class="product-tablist-block d-flex position-relative">
      @for (tab of productData.tabs; track tab.label) {
      <div class="product-tablist-item" [class.active]="tab.active">
        {{ tab.label }}
      </div>
      }
      <span class="underline"></span>
    </div>
  </div>
</div>
