@use '../../../font-mixin.scss' as *;

.product-section {
    padding: 34px 0 42px;

    .product-container {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        gap: 42px;

        .product-title {
            @include font(40px, 400, normal, var(--black-text));
            text-align: center;
            padding-bottom: 24px;
        }

        .product-subtitle {
            @include apply-font(--font-secondary);
            @include font(18px, 400, 30px, var(--grey-text));
        }

        .product-tablist-block {
            width: 100%;
            max-width: 630px;
            margin: 0 auto;
            border-bottom: 1px solid var(--light-grey-border);
        }

        .product-tablist-item {
            flex: 1;
            padding: 12px 0;
            @include font(18px, 300, 16px, var(--black-text));
            text-align: center;
            text-transform: capitalize;
            opacity: 0.6;
            transition: color 0.3s ease;
            cursor: pointer;

            &.active {
                opacity: 1;
                font-weight: 600;
            }
        }

        .underline {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 33.33%;
            background: var(--background-color);
            transition: transform 0.3s ease;
        }

        .tabs .tab:nth-child(1).active~.underline {
            transform: translateX(0%);
        }

        .tabs .tab:nth-child(2).active~.underline {
            transform: translateX(100%);
        }

        .tabs .tab:nth-child(3).active~.underline {
            transform: translateX(200%);
        }

    }
}

@media only screen and (max-width:1100px) {
    .product-section {
        .product-container {
            .product-title {
                @include font(32px, 400, 28px, var(--black-text));
                padding-bottom: 16px;
            }

            .product-subtitle {
                @include font(18px, 400, 22px, var(--grey-text));
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .product-section {
        .product-container {
            gap: 32px;

            .product-title {
                @include font(24px, 400, 28px, var(--grey-text));
                padding-bottom: 16px;
                padding-left: 27px;
                padding-right: 27px;
            }

            .product-subtitle {
                padding: 0 27px;
                text-align: center;
            }

            .product-tablist-item {
                line-height: normal;
            }
        }
    }
}