@use '../../../font-mixin.scss' as *;

.product-grid-block {
    padding: 60px 0;

    .product-grid-container {
        width: 100%;
        height: 700px;
        max-width: 1240px;
        margin: 0 auto;
        gap: 40px;
        flex-wrap: wrap;

        .product-slider {
            width: 35%;
        }

        .product-grid-right {
            flex: 1;
            gap: 40px;
            height: 100%;

            .product-grid-item {
                width: 100%;
                height: 50%;
                background-color: var(--light-grey-background);
                overflow: hidden;

                .stethoscope-image {
                    width: 350px;
                    height: 530px;
                    rotate: 310deg;
                    transition: 1.2s;
                }

                .product-right-information {
                    position: absolute;
                    left: 40px;

                    .product-information-title {
                        @include font(24px, 600, 42px, var(--background-color));
                        text-transform: capitalize;
                    }

                    .product-information-subtitle {
                        @include font(34px, 400, 40px, var(--black-text));
                        text-transform: capitalize;
                    }
                }
            }

            .product-grid-item:hover .stethoscope-image {
                transform: scale(1.3);
            }

            .visit-store-link {
                margin-top: 24px;
                @include apply-font(--font-secondary);
                @include font(14px, 600, 22px, var(--background-color));
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: underline;
                transition: 0.5s;

                &:hover {
                    color: var(--background-color-hover) !important;
                }
            }

            .product-grid-card {
                flex: 1;
                gap: 40px;
                height: 50%;
                overflow: hidden;

                .product-card-list {
                    flex: 1;
                    background-color: var(--light-grey-background);

                    .thermometer-image {
                        width: 350px;
                        height: 400px;
                        rotate: 10deg;
                        transform: translateX(-60px);
                        filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.2588235294));
                    }

                    .product-card-information {
                        position: absolute;
                        bottom: 46px;
                        right: 40px;
                    }
                }

                .card-information-subtitle {
                    @include font(24px, 400, 34px, var(--black-text));
                    text-transform: capitalize;
                }

                .medical-supply-card {
                    background: #1DA7FB94;

                    .medical-supply-image {
                        width: 100%;
                        height: 410px;
                        mix-blend-mode: luminosity;
                    }

                    .medical-supply-information {
                        position: absolute;
                        top: 47px;
                        left: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1100px) {
    .product-grid-block {
        padding: 32px 45px;

        .product-grid-container {
            height: 420px;
            max-width: unset;
            margin: unset;
            flex-wrap: nowrap;
            gap: 16px;

            .product-slider {
                width: 40%;
            }

            .product-grid-right {
                width: 60%;
                gap: 16px;
                flex: unset;

                .product-grid-item {
                    .product-right-information {
                        left: 24px;

                        .product-information-title {
                            @include font(16px, 600, 26px, var(--background-color));
                        }

                        .product-information-subtitle {
                            @include font(20px, 400, 24px, var(--black-text));
                        }
                    }

                    .stethoscope-image {
                        width: 218px;
                        height: 330px;
                    }
                }

                .visit-store-link {
                    line-height: 13px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                }

                .product-grid-card {
                    width: 100%;
                    gap: 16px;

                    .product-card-list {
                        width: 50%;

                        .thermometer-image {
                            width: 188px;
                            height: 252px;
                        }

                        .product-card-information {
                            bottom: 27px;
                            right: 24px;
                        }
                    }

                    .card-information-subtitle {
                        @include font(18px, 400, 24px, var(--black-text));
                    }

                    .medical-supply-card {
                        .medical-supply-image {
                            height: 260px;
                        }

                        .medical-supply-information {
                            top: 30px;
                            left: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .product-grid-block {
        padding: 24px 32px;

        .product-grid-container {
            height: unset;
            flex-wrap: wrap;

            .product-slider,
            .product-grid-right {
                width: 100%;
            }

            .product-grid-right {

                .product-grid-item {
                    aspect-ratio: 1/1;
                    height: unset;
                }

                .product-grid-card {
                    flex-wrap: wrap;

                    .product-card-list {
                        width: 100%;
                        aspect-ratio: 1/1;
                        flex: unset;

                        .thermometer-image {
                            width: 100%;
                            height: 100%;
                            transform: translatey(20px);
                        }
                    }

                    .medical-supply-card {
                        .medical-supply-image {
                            height: 100%;
                        }
                    }
                }
            }

        }
    }
}