.product-grid-block {
    padding: 60px 0;

    .product-grid-container {
        width: 100%;
        height: 700px;
        max-width: 1240px;
        margin: 0 auto;
        gap: 40px;
        flex-wrap: wrap;

        .product-slider {
            width: 35%;
        }

        .product-grid-right {
            flex: 1;
            gap: 40px;
            height: 100%;

            .product-grid-item {
                width: 100%;
                height: 50%;
                background-color: var(--light-grray-backgrround);
                overflow: hidden;

                .stethoscope-image {
                    width: 350px;
                    height: 530px;
                    rotate: 310deg;
                    transition: 1.2s;
                }

                .product-right-information {
                    position: absolute;
                    left: 40px;

                    .product-information-title {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 42px;
                        text-transform: capitalize;
                        color: var(--background-color);
                    }

                    .product-information-subtitle {
                        font-size: 34px;
                        font-weight: 400;
                        line-height: 40px;
                        text-transform: capitalize;
                        color: var(--black-text);
                    }
                }
            }

            .product-grid-item:hover .stethoscope-image {
                transform: scale(1.3);
            }

            .visit-store-link {
                margin-top: 24px;
                font-family: 'Figtree';
                font-size: 14px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-decoration: underline;
                color: var(--background-color);
                transition: 0.5s;

                &:hover {
                    color: var(--background-color-hover) !important;
                }
            }

            .product-grid-card {
                flex: 1;
                gap: 40px;
                height: 50%;
                overflow: hidden;

                .product-card-list {
                    flex: 1;
                    background-color: var(--light-grray-backgrround);

                    .thermometer-image {
                        width: 350px;
                        height: 400px;
                        rotate: 10deg;
                        transform: translateX(-60px);
                        filter: drop-shadow(2px 5px 5px rgba(0, 0, 0, 0.2588235294));
                    }

                    .product-card-information {
                        position: absolute;
                        bottom: 46px;
                        right: 40px;
                    }
                }

                .card-information-subtitle {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 34px;
                    color: var(--black-text);
                    text-transform: capitalize;
                }

                .medical-supply-card {
                    background: #1DA7FB94;

                    .medical-supply-image {
                        width: 100%;
                        height: 410px;
                        mix-blend-mode: luminosity;
                    }

                    .medical-supply-information {
                        position: absolute;
                        top: 47px;
                        left: 32px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .product-grid-block {
        .product-grid-container {
            .product-slider {
                width: 100%;
            }
        }
    }
}