<div class="banner-section d-flex justify-content-between align-items-center">
    <div class="banner-block d-flex align-items-center">
        <img src="assets/images/banner/chat.svg" alt="" width="50px" height="50px">
        <div class="banner-title">Trusted by Thousands of Health Professionals & Households</div>
    </div>
    <div class="brand-section d-flex">
        <div class="d-flex flex-column">
            <img src="assets/images/banner/trustpilot-logo.svg" alt="" class="trustpilot-image">
            <img src="assets/images/banner/trustpilot-stars.svg" alt="" class="trustpilot-star-image">
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="assets/images/banner/google.svg" alt="" class="google-image">
            <img src="assets/images/banner/goggle-star.svg" alt="" class="google-star-image">
        </div>
    </div>
</div>