<div class="banner-section d-flex justify-content-between align-items-center">
  <div class="banner-block d-flex align-items-center">
    <img
      [src]="bannerData.block.image.src"
      [alt]="bannerData.block.image.alt"
      [class]="bannerData.block.image.class"
    />
    <div class="banner-title">{{ bannerData.block.title }}</div>
  </div>
  <div class="brand-section d-flex">
    @for (brand of bannerData.brands; track brand) {
    <div class="d-flex flex-column" [class.align-items-center]="brand.alignCenter">
      @for (img of brand.images; track img.src) {
      <img [src]="img.src" [alt]="img.alt" [class]="img.class" />
      }
    </div>
    }
  </div>
</div>
