.promo-slider {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .product-grid-left {
        width: 100%;

        .product-left-image {
            width: 100%;
            height: 700px;
            display: block;
            object-fit: cover;
        }

        .product-left-information {
            position: absolute;
            bottom: 46px;
            right: 40px;

            .product-information-title {
                font-size: 24px;
                font-weight: 600;
                line-height: 42px;
                text-transform: capitalize;
                color: var(--background-color);
                margin-bottom: 0;
            }

            .product-information-subtitle {
                font-size: 24px;
                font-weight: 400;
                line-height: 34px;
                text-transform: capitalize;
                color: var(--black-text);
            }

            .shop-now-button {
                width: fit-content;
                height: 55px;
                padding: 0 44px;
                margin-top: 25px;
                background-color: var(--background-color);
                border: none;
                border-radius: 6px;
                font-family: 'Figtree';
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: var(--white-light);
                transition: 0.5s;

                &:hover {
                    background-color: var(--background-color-hover);
                }
            }
        }
    }
}

// ::ng-deep {

//     .swiper-horizontal>.swiper-pagination-bullets,
//     .swiper-pagination-bullets.swiper-pagination-horizontal {
//         width: fit-content !important;
//     }

//     // Swiper pagination dots
//     .swiper-pagination-bullet {
//         background: transparent;
//         border: 1px solid var(--background-color);
//     }

//     .swiper-pagination-bullet-active {
//         background: var(--background-color);
//         border: 1px solid transparent;
//     }
// }

@media only screen and (max-width:1100px) {
    .promo-slider {
        .product-grid-left {
            .product-left-image {
                height: 420px;
            }

            .product-left-information {
                bottom: 27px;
                right: 24px;

                .product-information-title {
                    font-size: 15px;
                    line-height: 25px;
                }

                .product-information-subtitle {
                    font-size: 15px;
                    line-height: 20px;
                }

                .shop-now-button {
                    height: 34px;
                    padding: 0 27px;
                    border-radius: 3px;
                    font-size: 9px;
                    line-height: 13px;
                    letter-spacing: 1px;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .promo-slider {
        .product-grid-left {
            .product-left-image {
                width: 100%;
                aspect-ratio: 1/1;
                height: unset;
            }
        }
    }
}