@use '../../../font-mixin.scss' as *;

.promo-slider {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;

    .product-grid-left {
        width: 100%;

        .product-left-image {
            width: 100%;
            height: 700px;
            display: block;
            object-fit: cover;
        }

        .product-left-information {
            position: absolute;
            bottom: 46px;
            right: 40px;

            .product-information-title {
                @include font(24px, 600, 42px, var(--background-color));
                text-transform: capitalize;
                margin-bottom: 0;
            }

            .product-information-subtitle {
                @include font(24px, 400, 34px, var(--black-text));
                text-transform: capitalize;
            }

            .shop-now-button {
                width: fit-content;
                height: 55px;
                padding: 0 44px;
                margin-top: 25px;
                background-color: var(--background-color);
                border: none;
                border-radius: 6px;
                @include apply-font(--font-secondary);
                @include font(14px, 500, 22px, var(--white-light));
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: 0.5s;

                &:hover {
                    background-color: var(--background-color-hover);
                }
            }
        }
    }
}

@media only screen and (max-width:1100px) {
    .promo-slider {
        .product-grid-left {
            .product-left-image {
                height: 420px;
            }

            .product-left-information {
                bottom: 27px;
                right: 24px;

                .product-information-title {
                    @include font(15px, 600, 25px, var(--background-color));
                }

                .product-information-subtitle {
                    @include font(15px, 400, 20px, var(--black-text));
                }

                .shop-now-button {
                    height: 34px;
                    padding: 0 27px;
                    border-radius: 3px;
                    @include font(9px, 500, 13px, var(--white-light));
                    letter-spacing: 1px;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .promo-slider {
        .product-grid-left {
            .product-left-image {
                width: 100%;
                aspect-ratio: 1/1;
                height: unset;
            }
        }
    }
}