.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-container {
        width: fit-content;
        height: auto;
        gap: 8px;

        .hero-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: var(--dark-gray-text);
        }

        .tablet-image {
            position: absolute;
            top: 76px;
            right: -34px;
        }

        .hero-footer-button {
            gap: 16px;

            .shop-button {
                width: fit-content;
                height: 52px;
                padding: 0 42px;
                background-color: var(--background-color);
                border-radius: 5px;
                border: 1px solid transparent;
                font-family: 'Figtree';
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 2px;
                text-align: center;
                text-transform: uppercase;
                color: var(--white-light);
            }

            .about-button {
                width: fit-content;
                height: 52px;
                padding: 0 42px;
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid var(--light-black-border);
                font-family: 'Figtree';
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 2px;
                text-align: center;
                text-transform: uppercase;
                color: var(--light-black-border);
            }
        }
    }

    .vaccine-image {
        position: absolute;
        top: -35px;
        left: 12px;
    }

    .mask-image {
        position: absolute;
        bottom: -200px;
        left: 12px;
    }

    .senitizer-bottel-image {
        position: absolute;
        bottom: -63px;
        right: 12px;
    }
}