@use 'variables' as *;
@use 'font.scss' as *;
@use 'font-mixin.scss' as *;

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  outline: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

body {
  @include apply-font(--font-primary);
  font-weight: normal;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
}

html,
#s4-workspace {
  scroll-behavior: smooth;
}