:root {
  // ==================== BLUE ==================== //
  --blue-light: #e9f6ff;
  --blue-light-hover: #ddf2fe;
  --blue-light-active: #b9e4fe;

  --blue-normal: #1ea7fb;
  --blue-normal-hover: #1f96e2;
  --blue-normal-active: #1886c9;

  --blue-dark: #177dbc;
  --blue-dark-hover: #126497;
  --blue-dark-active: #0d4b71;

  --blue-darker: #0b3a58;

  // ==================== GREY ==================== //
  --grey-light: #ebebeb;
  --grey-light-hover: #e1e1e1;
  --grey-light-active: #c0c1c2;

  --grey-normal: #353639;
  --grey-normal-hover: #303133;
  --grey-normal-active: #2a2b2e;

  --grey-dark: #28292b;
  --grey-dark-hover: #202022;
  --grey-dark-active: #181818;

  --grey-darker: #131314;

  // ==================== WHITE ==================== //
  --white-light: #ffffff;
  --white-light-hover: #ffffff;
  --white-light-active: #ffffff;

  --white-normal: #ffffff;
  --white-normal-hover: #e6e6e6;
  --white-normal-active: #cccccc;

  --white-dark: #bfbfbf;
  --white-dark-hover: #999999;
  --white-dark-active: #737373;

  --white-darker: #595959;

  // ==================== OTHER VARIABLE ==================== //
  --background-color: #1DA7FB;
  --background-color-hover: #106192;
  --light-grey-background: #F3F5F5;
  --light-red-background: #EA3761;

  --black-overlay: #1D1D1D;

  --light-black-border: #353639;
  --light-grey-border: #D9D9D9;
  --light-blue-border: #10AFF3;
  --light-white-border: #DDE2F2;

  --black-text: #1A1A1A;
  --gray-text: #636778;
  --dark-grey-text: #444444;
  --light-grey-text: #E7E7E7;
  --lightwhite-grey-text: #B9B9B9;
  --text-color: #1B1139;
  --light-black-text: #363039;
  --normal-black-text: #2B2B2B;

}