<div class="address-container">
    <div class="address-row d-flex">
        <div class="address-card d-flex">
            <div class="address-image-block">
                <img src="" alt="">
            </div>
            <div class="address-detail d-flex flex-column">
                <div class="address-title">Free Shipping</div>
                <div class="address-subtitle">Free Shipping on Orders Over $59 or with Your First Purchase</div>
            </div>
        </div>
        <div class="address-card d-flex">
            <div class="address-image-block">
                <img src="" alt="">
            </div>
            <div class="address-detail d-flex flex-column">
                <div class="address-title">30 Days Return policy</div>
                <div class="address-subtitle">Hassle-free refunds for any issues with the orders</div>
            </div>
        </div>
        <div class="address-card d-flex">
            <div class="address-image-block">
                <img src="" alt="">
            </div>
            <div class="address-detail d-flex flex-column">
                <div class="address-title">24/7 Support</div>
                <div class="address-subtitle">Our dedicated team is always here to help</div>
            </div>
        </div>
    </div>
</div>