<div class="address-container">
  <div class="address-row d-flex">
    @for (item of addresses; track $index) {
    <div class="address-card d-flex align-items-center">
      <div class="address-image-block d-flex justify-content-center align-items-center">
        <img [src]="item.image" alt="" class="address-image" />
      </div>

      <div class="address-detail d-flex flex-column">
        <div class="address-title">{{ item.title }}</div>
        <div class="address-subtitle">{{ item.subtitle }}</div>
      </div>
    </div>
    }
  </div>
</div>
