@use '../../../font-mixin.scss' as *;

.address-container {
    width: 100%;
    padding: 67px 0;
    border-top: 1.05px solid var(--light-grey-border);

    .address-row {
        width: 100%;
        max-width: 1240px;
        margin: 0 auto;
        gap: 88px;

        .address-card {
            flex: 1;
            gap: 32px;

            .address-image-block {
                min-width: 63px;
                height: 63px;
                border: 1px dashed var(--light-blue-border);
                border-radius: 50%;

                .address-image {
                    width: 32px;
                    height: 32px;
                }
            }

            .address-detail {
                gap: 15px;

                .address-title {
                    @include font(18px, 600, 22px, var(--normal-black-text));
                }

                .address-subtitle {
                    @include apply-font(--font-secondary);
                    @include font(16px, 400, 22px, var(--grey-text));
                }
            }
        }
    }
}

@media only screen and (max-width:1100px) {
    .address-container {
        padding: 31px 32px;

        .address-row {
            gap: 32px;
            align-items: flex-start;

            .address-card {
                gap: 16px;

                .address-image-block {
                    min-width: 40px;
                    height: 40px;

                    .address-image {
                        width: 20px;
                        height: 20px;
                    }
                }

                .address-detail {
                    gap: 8px;
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .address-container {
        padding: 38px 32px;

        .address-row {
            gap: 32px;
            flex-direction: column;
            align-items: flex-start;

            .address-card {
                gap: 16px;

                .address-image-block {
                    min-width: 64px;
                    height: 64px;

                    .address-image {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}